{% extends 'template.html' %}
{% load static %}

{% block head %}
    <title>Alpha Tech Academy</title>
{% endblock %}

{% block content %}
    <div class="row content-item">
        <div class="col-md-4">
            <img src="{% static 'images/benefit.png' %}" alt="">
        </div>
        <div class="col-md-8">
            <h2>Learn awesome tech</h2>
            <p>You will learn about programming language, such as Python and Javascript, build back-end apps using Flask framework with microservice concept, build client-site apps using React Library, etc.</p>
        </div>
    </div>
    <div class="row content-item">
        <div class="col-md-4">
            <img src="{% static 'images/search-job.png' %}" alt="">
        </div>
        <div class="col-md-8">
            <h2>Land new job</h2>
            <p>If you can pass this awesome program, you will be part of our reliable tech team for especially Software Engineer position and other tech position such as Quality Engineer, System Analyst, etc.</p>
        </div>
    </div>
    <div class="row content-item">
        <div class="col-md-4">
            <img src="{% static 'images/get-paid.png' %}" alt="">
        </div>
        <div class="col-md-8">
            <h2>Get paid to learn</h2>
            <p>Join for free and earn some money. Yes you read that right, no registration fee required to enter this program. To make things even better, you will receive pocket money just for participating. Cool, right?</p>
        </div>
    </div>
    <div class="row content-item">
        <div class="col-md-4">
            <img src="{% static 'images/mission.png' %}" alt="">
        </div>
        <div class="col-md-8">
            <div class="row">
                <h2>Who are we?</h2>
                <p>Alpha Tech Academy is a tech talent incubation that gives anyone any chance (not even an IT background) to learn within 3 months of being a professional Tech Talent. What is our mission? We want to improve capability Tech Talent in Indonesia</p>
            </div>
            <div class="row">
                <h2>What is our mission?</h2>
                <p>We want to improve capability Tech Talent in Indonesia</p>
            </div>
        </div>
    </div>
    <div class="row content-item">
        <div class="row title-text">
            <h1 class="centered">What will you learn?</h1>
        </div>
        <div class="row learning-content">
            <div class="col-md-3">
                <div class="learning-material">
                    <img src="{% static 'images/learn-html.png' %}" class="img-middle">
                </div>
            </div>
            <div class="col-md-3">
                <div class="learning-material">
                    <img src="{% static 'images/learn-programming.png' %}" class="img-middle">
                </div>
            </div>
            <div class="col-md-3">
                <div class="learning-material">
                    <img src="{% static 'images/learn-git.png' %}" class="img-middle">
                </div>
            </div>
            <div class="col-md-3">
                <div class="learning-material">
                    <img src="{% static 'images/learn-api.png' %}" class="img-middle">
                </div>
            </div>
            <div class="col-md-3">
                <div class="learning-material">
                    <img src="{% static 'images/learn-react.png' %}" class="img-middle">
                </div>
            </div>
            <div class="col-md-3">
                <div class="learning-material">
                    <img src="{% static 'images/learn-tdd.png' %}" class="img-middle">
                </div>
            </div>
            <div class="col-md-3">
                <div class="learning-material">
                    <img src="{% static 'images/learn-server.png' %}" class="img-middle">
                </div>
            </div>
            <div class="col-md-3">
                <div class="learning-material">
                    <img src="{% static 'images/learn-scrum.png' %}" class="img-middle">
                </div>
            </div>
        </div>
    </div>
{% endblock %}