{% extends 'template.html' %}
{% load static %}

{% block head %}
    <title>Blog - Alpha Tech Academy</title>
{% endblock %}

{% block content %}
<div class="row content-item">
    <div class="ful-width">
        <img src="{% static 'images/kendala-sepulsa.jpg' %}" alt="" class="blog">
    </div>
    <div class="ful-width tag">
        <div><p>September 25, 2018</p></div>
        <div><p>Comment 0</p></div>
    </div>
    <div class="ful-width">
        <h1>Punya Kendala? Segera Hubungi Customer Service Sepulsa!</h1>
    </div>
    <div class="ful-width">
        <p>Bagi Sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa mendengarkan keluhan maupun kendala yang kamu hadapi selama melakukan transaksi di Sepulsa. Umumnya pelanggan Sepulsa mengadapi kendala sebagai berikut: Status Order Pending. Jika transaksi pembayaran sudah selesai, namun status order kamu masih pending dalam jangka waktu 15 menit, segera hubungi tim Customer Service dengan menyertakan email ...</p>
    </div>
    <div class="ful-width">
        <a href="#">Baca Selengkapnya</a>
    </div>
</div>
<div class="row content-item">
    <div class="ful-width">
        <img src="{% static 'images/sms.png' %}" alt="" class="blog">
    </div>
    <div class="ful-width tag">
        <div><p>August 14, 2018</p></div>
        <div><p>Comment 0</p></div>
    </div>
    <div class="ful-width">
        <h1>OTP, Si Kode Rahasia nan Berbahaya</h1>
    </div>
    <div class="ful-width">
        <p>Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan keuntungan bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada awalnya membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dari tempat duduk kamu dan pembayaran lunas dalam hitungan detik dengan transaksi online. Namun tanpa disadari, kemudahan tersebut bukan berati tanpa celah. Sebelum kita membahas lebih ...</p>
    </div>
    <div class="ful-width">
        <a href="#">Baca Selengkapnya</a>
    </div>
</div>
<hr>
{% endblock %}