{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title>Blog - Alpha Tech Academy</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="maestro@alphatech.id">
    <link rel="icon" href="favicon.ico">

    <title>Alpha Tech Academy</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header col-md-3">
                        <a class="navbar-brand" href="#">Alpha Tech Academy</a>
                    </div>
                    <ul class="nav navbar-nav justify-content-end col-md-9">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'mentor' %}">Mentor</a></li>
                        <li><a href="{% url 'mentee' %}">Mentee</a></li>
                        <li><a href="{% url 'author' %}">Author</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="row banner">
            <div class="col-md-12 text-center banner-content">
                <div class="banner-item">
                    <div ><img src="{% static 'images/alpha-logo.png' %}" alt=""></div>
                    <div ><h1>Alpha Tech Academy</h1></div>
                    <div >Alpha Tech Academy is a tech talent incubator that gives everyone (even not IT background) a chance to be a professional Tech talent within 3 months. Contact person: Email : academy@alphatech.id Mobile phone : 0877 9609 9530</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper">
                <div class="content-wrapper">
                    <div class="row content-item">
                        <div class="ful-width">
                            <img src="{% static 'images/kendala-sepulsa.jpg' %}" alt="" class="blog">
                        </div>
                        <div class="ful-width tag">
                            <div><p>September 25, 2018</p></div>
                            <div><p>Comment 0</p></div>
                        </div>
                        <div class="ful-width">
                            <h1>Punya Kendala? Segera Hubungi Customer Service Sepulsa!</h1>
                        </div>
                        <div class="ful-width">
                            <p>Bagi Sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa mendengarkan keluhan maupun kendala yang kamu hadapi selama melakukan transaksi di Sepulsa. Umumnya pelanggan Sepulsa mengadapi kendala sebagai berikut: Status Order Pending. Jika transaksi pembayaran sudah selesai, namun status order kamu masih pending dalam jangka waktu 15 menit, segera hubungi tim Customer Service dengan menyertakan email ...</p>
                        </div>
                        <div class="ful-width">
                            <a href="#">Baca Selengkapnya</a>
                        </div>
                    </div>
                    <div class="row content-item">
                        <div class="ful-width">
                            <img src="{% static 'images/sms.png' %}" alt="" class="blog">
                        </div>
                        <div class="ful-width tag">
                            <div><p>August 14, 2018</p></div>
                            <div><p>Comment 0</p></div>
                        </div>
                        <div class="ful-width">
                            <h1>OTP, Si Kode Rahasia nan Berbahaya</h1>
                        </div>
                        <div class="ful-width">
                            <p>Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan keuntungan bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada awalnya membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dari tempat duduk kamu dan pembayaran lunas dalam hitungan detik dengan transaksi online. Namun tanpa disadari, kemudahan tersebut bukan berati tanpa celah. Sebelum kita membahas lebih ...</p>
                        </div>
                        <div class="ful-width">
                            <a href="#">Baca Selengkapnya</a>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row content-product">
            <div class="col-md-8 product-parent">
                <div class="product">
                    <p>Our Product:</p>
                </div>
                <div class="product">
                    <img src="{% static 'images/logo-grey-alphapay.png' %}">
                </div>
                <div class="product">
                    <img src="{% static 'images/logo-grey-sepulsa.png' %}">
                </div>
                <div class="product">
                    <img src="{% static 'images/logo-grey-alphabill.png' %}">
                </div>
            </div>
        </div>
        <footer>
            <strong>Contact Person:</strong>Email: academy@alphatech.id
        </footer>
    </body>
</html>