{% extends 'template.html' %}
{% load static %}

{% block head %}
    <title>Author - Alpha Tech Academy</title>
{% endblock %}

{% block content %}
<div class="row content-item">
    <div class="ful-width">
        <img src="{% static 'images/profile-pic2.jpg' %}" alt="" class="blog">
    </div>
    <div class="ful-width">
        <h1>Nama Author</h1>
    </div>
    <div class="ful-width">
        <p><strong>Please Write your Summary,</strong> Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet.</p>
    </div>
    <div class="ful-width">
        <a href="#">Baca Selengkapnya</a>
    </div>
    <div class="ful-width">
        <br/>
        <table>
            <tr>
                <td style="width: 250px">Alamat</td><td>: Alamat Author</td>
            </tr>
            <tr>
                <td>Telephone</td><td>: Author's Telephone</td>
            </tr>
            <tr>
                <td>Education</td><td>: Author's Education</td>
            </tr>
            <tr>
                <td>Profession</td><td>: Author's Profession</td>
            </tr>
            <tr>
                <td>Nationality</td><td>: Author's Nationality</td>
            </tr>
            <tr>
                <td>Company</td><td>: Author's Company</td>
            </tr>
            <tr>
                <td>Email</td><td>: Author's Email</td>
            </tr>
            <tr>
                <td>Adress</td><td>: Author's Adress</td>
            </tr>
        </table>
        <br/>
    </div>
    <div class="ful-width">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.31421843512!2d112.6089190734025!3d-7.96644304050474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0x5e67e83abb74c16d!2sJl.+Raya+Tidar+No.23%2C+Karangbesuki%2C+Sukun%2C+Kota+Malang%2C+Jawa+Timur+65146!5e0!3m2!1sen!2sid!4v1549978638000" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}